@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 #18181b;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}

@layer utilities {
  .scroll-smooth {
    scroll-behavior: smooth;
  }
}
